<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Iceberg FYI</title>
    <style type="text/tailwindcss">
        @layer base {
          html {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          }
          body {
            background-color: rgba(242, 245, 255, 0.5);
          }
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
  </head>
  <body class="p-4">
    {% block content %}
    {% endblock %}
    <p class="text-center text-gray-500 mt-4">
        Built with ❤️ by
        <img src="/static/census-logomark.svg" alt="Census Logo"  class="inline h-5 align-text-top" />
        <a href="https://getcensus.com" class="text-blue-500">Census</a>
    </p>
  </body>
</html>